@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

html {
	background: url(img/marte.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 6em;
	padding-top: 1em;
	padding-left: 2em;
	text-shadow: 2px 2px black;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 2em;
	margin-top: -2em;
	padding-left: 6em;
}

#formulario {
	padding-top: 1em;
}



























